<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<%= link_to 'Refresh', refresh_feed_path(@feed), method: :post, class: :button %>
<%= link_to 'Edit', edit_feed_path(@feed), class: :button %>
<%= link_to 'Back', feeds_path, class: :button %>
