<h1>Listing Trains</h1>

<table class="train-deps">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= train.from %></td>
        <td><%= train.to %></td>
        <td>
          <%= link_to "Show", train, class: :button %>
          <%= link_to "Edit", edit_train_path(train), class: :button %>
          <%= link_to "Destroy", train, method: :delete, data: { confirm: "Are you sure?" }, class: :button %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Train", new_train_path, class: :button %>
