<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @train.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @train.to %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
