<p>
  <strong>From:</strong>
  <%= params[:from].upcase %>
</p>

<p>
  <strong>To:</strong>
  <%= params[:to].upcase %>
</p>

<h3>Live Departures</h3>
<table class="train-deps">
  <thead>
    <tr>
      <th>Time</th>
      <th>Destination</th>
      <th>Platform</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @live.each do |s| %>
      <tr>
        <td><%= s.scheduled_time %></td>
        <td><%= s.destination_name %></td>
        <td><%= s.platform %></td>
        <td><%= s.estimated_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Station Timetable</h3>
<table class="train-deps">
  <thead>
    <tr>
      <th>Time</th>
      <th>Destination</th>
      <th>Platform</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @departures.each do |d| %>
      <tr>
        <td><%= d.aimed_departure_time %></td>
        <td><%= d.destination_name %></td>
        <td><%= d.platform %></td>
        <td><%= d.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "All trains", trains_path, class: :button %>
