<h1>Listing Streams</h1>

<table class="feeds">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @streams.each do |stream| %>
      <tr>
        <td><%= stream.type_name %></td>
        <td><%= stream.printable_name %></td>
        <td>
          <%= link_to "Show", stream, class: :button %>
          <%= link_to "Destroy", stream_path(stream), method: :delete, data: { confirm: "Are you sure?" }, class: :button %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Stream", new_stream_path, class: :button %>
