<h1>Scrape details</h1>
<p>
  Fetched <%= time_ago_in_words(@scrape.updated_at) %> ago
  (<span class="news-state"><%= @scrape.state %></span>)
  <% if @scrape.state == 'errors' %><%= link_to "view", errors_news_path(id: @scrape.id) %><% end %>
</p>
<% unless @scrape.previous.nil? %>
  <%= link_to 'Previous', news_path(@scrape.previous), class: 'button' %>
<% end %>

<% unless @scrape.state == 'pending' %>
  <%= render partial: 'posts', object: @scrape.posts %>
<% end %>
