<p id="notice"><%= notice %></p>

<p>
  <strong>Screen name:</strong>
  <%= @twitter_stream.profile.screen_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @twitter_stream.profile.real_name %>
</p>

<p>
  <strong>Photo:</strong>
  <img src="<%= @twitter_stream.profile.profile_image %>">
</p>

<% if !@twitter_stream.stream.timeline.nil? %>
  <h3>Timeline</h3>
  
  <ul class="twitter-timeline">
    <% @twitter_stream.stream.timeline.each do |tweet| %>
      <li class="twitter-post">
        <%= render partial: "tweet", locals: { tweet: tweet } %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Back', streams_path %>
