<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AGR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>AGR</h1>
  <nav>
    <%= link_to("Trains", trains_path, class: "nav-item") %> |
    <%= link_to("Streams", streams_path, class: "nav-item") %> |
    <%= link_to("News", "#TODO", class: "nav-item") %> |
    <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "nav-item") %>
  </nav>
</header>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
