<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AGR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
  <div class="header-content">
    <nav>
      <%= link_to("Trains", trains_path, class: "nav-item") %> ::
      <%= link_to("News", news_index_path, class: "nav-item") %> ::
      <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "nav-item") %>
    </nav>
  </div>
</header>

<div class="app-content">
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <%= yield %>
</div>

</body>
</html>
